[package]
name = "login"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
# http
tokio = { version = "1.49.0", features = ["macros", "rt-multi-thread"] }
axum = { version = "0.8.8", features = ["json"] }

# error
anyhow = "1.0.100"
thiserror = "2.0.17"

# json
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.149"

# cors
middleware = { path = "../../common/middleware", features = ["cors", "trace"] }

# log
tracing = "0.1.44"
tracing-subscriber = "0.3.22"

# thrift
thrift = { path = "../../common/thrift" }
volo-thrift = "0.12.0"

# webauthn
webauthn-rs = { version = "0.5.4", features = [
    "danger-allow-state-serialisation",
] }
url = "2.5.8"
tower-sessions = { version = "0.14.0" }

[dev-dependencies]
axum = { version = "0.8.8", features = ["json", "macros"] }
