@import url('edit/src/index.css');
pre[class*='language-'],
code[class*='language-'] {
  font-family: 'JetBrains Mono', monospace;
  font-variant-ligatures: contextual;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga', 'calt';
}
