[package]
name = "bookmarks"
version = "0.1.0"
edition = "2024"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
# runtime
tokio = { version = "1.49.0", features = ["macros", "rt-multi-thread"] }

# graphql
async-graphql = { version = "7.2.1", features = ["time", "bigdecimal"] }
axum = { version = "0.8.8", features = ["query"] }
async-graphql-axum = "7.2.1"
serde_json = "1.0.149"

# fetch content
serde = { version = "1.0.228", features = ["derive"] }
reqwest = { version = "0.13.2", features = [
    "gzip",
    "stream",
], default-features = false }

# database
diesel = { version = "2.3.6", features = [
    "postgres",
    "time",
    "r2d2",
    "numeric",
] }
time = { version = "0.3.47" }
bigdecimal = "0.4.10"
graphql-common = { path = "../../common/graphql-common" }

# error
anyhow = "1.0.102"
thiserror = "2.0.18"

# cors
middleware = { path = "../../common/middleware", features = [
    "cors",
    "trace",
    "graphql-trace",
] }

# log
tracing = "0.1.44"
tracing-subscriber = "0.3.22"

# thrift
thrift = { path = "../../common/thrift" }
volo-thrift = "0.12.2"

# novel
novel_crawler = { path = "../../common/novel_crawler" }

[dev-dependencies]
# env
dotenv = "0.15.0"

# nover crawler
novel_crawler = { path = "../../common/novel_crawler" }
