name: ci
on:
  pull_request:
    branches:
      - main

jobs:
  web:
    runs-on: ubuntu-latest
    steps:
      - name: git clone
        uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        id: pnpm-install
        with:
          version: latest
          run_install: |
            - recursive: true
      - name: Lint
        run: pnpm lint
      - name: Test
        run: pnpm test
  server:
    runs-on: ubuntu-latest
    steps:
      - name: git clone
        uses: actions/checkout@v4
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
      - name: protoc
        run: sudo apt update && sudo apt install mold clang -y
      - name: server Lint
        run: cargo clippy --all
      - name: server test
        run: cargo test --all
