name: rust-update-docker-build
on:
  schedule:
    - cron: '15 0 */2 * *'
  push:
    branches:
      - main
    paths:
      - docker/server/rust/rust.Dockerfile
      - .github/workflows/rust_update.yaml
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: git clone
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: suxiaoshao/rust:latest
          file: ./docker/server/rust/rust.Dockerfile
          context: .
